[user]
	name = TENMYO Masakazu
	email = tenmyo@gmail.com
[push]
	default = matching
[core]
	excludesfile = C:\\Work\\gitignore_global.txt
	autoCRLF = false
[gui]
	fontui = -family \"Myrica M\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
[diff]
	tool = WinMerge
[difftool]
	prompt = false
[difftool "WinMerge"]
	cmd = 'C:/Program Files/WinMerge/WinMergeU.exe' -e -r -u -x -wl -dl \"$LOCAL\" -dr \"$REMOTE\" \"$LOCAL\" \"$REMOTE\"
[difftool "sourcetree"]
	cmd = 'C:/Program Files/WinMerge/WinMergeU.exe' -e -r -u -x -wl -dl \"$LOCAL\" -dr \"$REMOTE\" \"$LOCAL\" \"$REMOTE\"
[pager]
	log = diff-highlight | less
	diff = diff-highlight | less
	show = diff-highlight | less
[interactive]
	diffFilter = diff-highlight
[diff]
	compactionHeuristic = true
[color "diff"]
	meta = normal 238
	frag = normal 235 dim
	context = normal normal dim
	old = magenta
	new = cyan
	commit = normal 026
	whitespace = normal 240
