<?xml encoding="utf-8"?>
<packages>
  <package id="7zip.install" />
  <package id="ccleaner" />
  <package id="chocolatey" />
  <package id="ChocolateyGUI" />
  <package id="doxygen.install" />
  <package id="dropbox" />
  <package id="FirefoxESR" />
  <package id="foxitreader" />
  <package id="GoogleChrome" />
  <package id="googledrive" />
  <package id="Graphviz" />
  <package id="iTunes" />
  <package id="linkshellextension" />
  <package id="sourcetree" />
  <package id="teraterm" />
  <package id="vagrant" />
  <package id="virtualbox" />
  <package id="wireshark" />
</packages>